<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Información del paciente</title>
    <!-- Agrega el enlace a Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <h1 class="mb-4">Actualizar Información del paciente</h1>

    <form method="post" action="{{ url_for('update', id=paciente[0], _external=True) }}">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" value="{{ paciente[1]}}" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="text" class="form-control" name="fecha" value="{{ paciente[2]}}" required>
        </div>
        <div class="form-group">
            <label for="hora">Hora:</label>
            <input type="text" class="form-control" name="hora" value="{{ paciente[3] }}" required>
        </div>
        <div class="form-group">
            <label for="datos_adicionales">Datos Adicionales:</label>
            <input type="text" class="form-control" name="datos_adicionales" value="{{ paciente[4] }}" required>
        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje de Confirmación:</label>
            <input type="text" class="form-control" name="mensaje" value="{{ paciente[5] }}">
        </div>
        <div class="form-group">
            <label for="boleta">Boleta enviada:</label>
            <input type="text" class="form-control" name="boleta" value="{{ paciente[6] }}" required>
        </div>
        <div class="form-group">
            <label for="confirmo">Confirmó hora:</label>
            <input type="text" class="form-control" name="confirmo" value="{{ paciente[7] }}" required>
        </div>
        <div class="form-group">
            <label for="pago">Pagó:</label>
            <input type="text" class="form-control" name="pago" value="{{ paciente[8]}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>

    <!-- Agrega el script de Bootstrap desde CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
